<main id="auth">
    <a href="/">acceuil</a>
    <a href="/liste-personnages">liste des personnages</a>
    <form method="post" action="/authentification/loginUser">
        <legend>Connexion</legend>
        <label for="username">Nom d&apos;utilisateur :</label>
        <input
            type="text"
            name="username"
            id="username"
            placeholder="Nom d'utilisateur"
        />

        <label for="password">Mot de passe :</label>
        <input
            type="password"
            name="password"
            id="password"
            placeholder="Mot de passe"
        />

        <button type="submit">Valider</button>
    </form>
    <a href="/authentification/register">création de compte</a>
</main>
