<main id="list">
    <input id="search" type="search" placeholder="Rechercher un personnage" />
    <section>
        <h2>Liste de personnages</h2>
        <div class="character-container">
                <figure>
        

                </figure>
            </a>
        </div>
    </section>

    <script src="/js/search.js"></script>
</main>
