<main id="detail">
    <article>
        <h2>details</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui beatae autem provident delectus voluptas deserunt tempora aspernatur, expedita exercitationem blanditiis similique, in facilis, sit iusto?</p>
    </article>
</main>