<main>
    <a href="/">acceuil</a>
    <a href="/authentification/connexion">connection</a>
    <input id="search" type="search" placeholder="Rechercher un personnage" />
    <section>
        <h2>Liste de personnages</h2>
        <div class="character-container">
                <figure>
        

                </figure>
            </a>
        </div>
    </section>
    <a href="/">acceuil</a>
    <a href="/liste-personnages/details">détails</a>
</main>
